<main>
  <div class="content">
    <div class="left-side">
      <h1>{{ title }}</h1>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="draw">
      <app-draws [draw]="draw01"></app-draws>
      <app-draws [draw]="draw02"></app-draws>
      <app-draws [draw]="draw03"></app-draws>
      <app-draws [draw]="draw04"></app-draws>
      <app-draws [draw]="draw05"></app-draws>
      <app-draws [draw]="draw06"></app-draws>
      <app-draws [draw]="draw07"></app-draws>
      <app-draws [draw]="draw08"></app-draws>
      <app-draws [draw]="draw09"></app-draws>
    </div>
  </div>

</main>
